body {
    margin: 0;
    cursor: pointer;
    overflow: hidden;
    font-family: Lato, "Trebuchet MS", "Verdana", "sans-serif";
    background-color: rgb(19, 20, 22);
}

canvas {
    display: block;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

h1, #birthday-wish-container h1 {
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 4em;
    font-weight: 900;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center; /* added this line */
    margin-bottom: 20px;
}

.countdown-palette {
    display: flex;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -30%);
    align-items: center;
    font-size: 2em;
    color: #fff;
    margin-bottom: 20px;
}

.countdown-item {
    margin: 0 5px;
}

.separator {
    margin: 0 2px;
}


#birthday-wish-container p {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center; /* added this line */
}

.hidden {
    display: none;
}
